@import "styles/_settings";


.ProjectsTile {
  &__Summary {
    margin-top: 1.1rem;
  }
  
  &__List {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: 0;
  }

  &__Item {
      border: 0;
      line-height: 1.3rem;
      text-align: justify;
      text-justify: newspaper;
      margin: 0;
      padding: 0.1rem 0;

      @include media("<=tablet") {
        text-justify: none;
        text-align: left;
      }
  }

  &__Image {
    border: none;
    margin: auto;
    vertical-align: middle;
    height: 1.9rem;
  }


  &__Title {
    font-size: 1.5rem;
  }

  &__Text {
        display: inline;

        &:before {
          content: ' — '
        }
  }

  &__Description {
    display: inline;
    &:before {
      content: ' — '
    }
}
}
