@import "styles/_settings";


.container {
  p {
    display: inline;
    margin-left: 1rem;
  }

  ul {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: 0;

    li {
      border: 0;
      margin: 0;
      padding: 0.1rem 0;
      text-align: justify;
      text-justify: newspaper;

      a {
        font-size: 1.5rem;
      }

      div {
        display: inline;
        font-size: 1rem;

        &:before {
          content: ' — '
        }

        p {
          margin-left: 0;
        }
      }
    }

  }
}

.tag {
}
