@import "styles/_settings";


.container {
  h1 {
    font: normal 800 4.5rem/3rem $font-family-header;
    letter-spacing: -0.1em;
    color: #272822;
    margin-bottom: 2rem;
  }

  h2 {
    font: normal 800 2rem/1rem $font-family-script;
    letter-spacing: -0.02rem;
  }

  .date {
    font-size: 1rem;
    color: #80807d;
  }

  @include media(">=desktop") {
    pre {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
